html {
    font-family: "geller-sans-variable", sans-serif;
    font-variation-settings: "wdth" 50, "wght" 100;
    font-size: 18pt;
    text-align: center;
}
h3 {
    font-size: 24pt;
}
h2 {
    margin-left: 10%;
    margin-right: 10%;
}
p {
    margin-left: 20%;
    margin-right: 20%;
}
img{
    width: 50%;
}