body {
    margin: 2; 
    background-image: url(B105FEE9-39BE-4E94-9DFE-D354C6BCDB63_1_105_c.jpeg);
    background-size: cover;
    background-position: center;
    font-family: "totally-gothic", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;  
}

.background-box {
    background-color: black;
    color: white;
    padding: 20px;
    width: 50%;
}

.content {
   
    color: white;
}


.background-box {
    background-color: black;
    color: white; 
    padding: 20px;
    box-sizing: border-box; 
}
