.title-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: -25px;
    padding: 0;
}

.title-section {
    background-color: #4e001a;
    color: #FBFBEF;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 46pt;
}

html {
    font-family: "geller-sans-variable", sans-serif;
    font-variation-settings: "wdth" 50, "wght" 100;
    font-size: 18pt;
    text-align: center;
    background-color: #9a0033;
    color: #FBFBEF;
}

h2 {
    font-size: 22pt;
    line-height: 30pt;
}

h3 {
    font-size: 24pt;
    text-align: left;
}

h5 {
    text-align: center;
    font-size: 24pt;
}

ul {
    line-height: 20pt;
    padding-left: 0;
    list-style-type: none;
}

p {
    text-align: left;
    font-size: 20pt;
    margin: 0 5%;
}

.img-1 {
    max-width: 50%;
    height: auto;
    margin:auto;
}

.intro-list-content1 {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;

}

.intro-list-content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}

.intro-content {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.right-column {
    width: 100%;
}

.left-column {
    margin-bottom: 20px;
}

.column {
    
    padding: 10px;
}

.ingredients {
    
    padding: 10px;
    width: 90%;
}

.steps {
    text-align: left;
    margin: 0 5%;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .left-column,
    .right-column {
        flex: 1;
        margin: 0 20px;
    }
}

